@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --background-color: #ffffff;
  --text-color: #3f3d56;
  --default-gradient: linear-gradient(99.26deg, #f152ff -1.17%, #bb23fd 89.96%);
  --primary-color: #d539fe;
  --subtext-color: #9d9d9d;
}

[theme="dark"] {
  --background-color: #352d39;
  --text-color: #ffffff;
}

[theme="light"] {
  --background-color: #ffffff;
  --text-color: #3f3d56;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  color: var(--text-color);
}
button {
  cursor: pointer;
  outline: none;
  background: var(--default-gradient);
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
  box-shadow: -1px 3px 14px rgba(187, 35, 253, 0.46);
}
button:hover {
  transform: scale(1.01) translateY(-1px);
  box-shadow: -1px 3px 21px rgba(187, 35, 253, 0.65);
}
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.gap-2 {
  gap: 2rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 5rem;

  footer {
    padding: 0.5rem 2.5rem;
    button {
      width: 100%;
      padding: 0.5rem;
    }
  }
  h1 {
    font-size: 1.3rem;
  }
  main {
    padding: 1.5rem 2.5rem;
    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }
  header {
    padding: 1.5rem 2rem;
  }
  .circle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #00000026;
    cursor: pointer;
    transition: 0.4s;
  }
  .circle.selected {
    background-color: var(--primary-color);
    box-shadow: -1px 3px 14px rgba(187, 35, 253, 0.46);
  }
}
.margin-top-2 {
  margin-top: 2rem;
}
.small-text {
  font-size: 0.7rem;
}
.action-text {
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: 0.4s;
  font-weight: 500;
}
.padding-1-2 {
  padding: 1rem 2rem;
}
.subtext-color {
  color: var(--subtext-color);
  transition: 0.4s;
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider[theme="dark"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0.9rem;
}
.slider[theme="light"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #352d39;
  border-radius: 0.9rem;
}
.slider:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--primary-color);
  transition: 0.4s;
}
.switch input:checked + .slider:before {
  transform: translateX(1.25rem);
}
.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 5rem;
  main {
    padding: 1.5rem 2.5rem;
    input {
      background: rgba(113, 113, 113, 0.07);
      border-radius: 8px;
      padding: 0.6rem;
      font-family: "Ruluko";
      font-size: 1rem;
      border: none;
      outline: none;
      text-indent: 0.6rem;
      &::placeholder {
        color: #867c7ca8;
      }
      &::-ms-reveal {
        display: block;
      }
    }
    .input-box {
      position: relative;
      input{
        width: 100%;
      }
      span {
        position: absolute;
        top: 25%;
        cursor: pointer;
        right: 1rem;
      }
    }
    span {
      color: #d539fe;
      font-size: 1.4rem;
    }
  }
  header {
    padding: 1.5rem 2rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.15rem;
    font-weight: 500;
  }
  p {
    font-size: 0.9rem;
    color: #3f3d5699;
    margin-top: 0.3rem;
  }
}
