@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --background-color: #ffffff;
  --text-color: #3f3d56;
  --default-gradient: linear-gradient(99.26deg, #f152ff -1.17%, #bb23fd 89.96%);
}

[theme="dark"] {
  --background-color: #352d39;
  --text-color: #ffffff;
}

[theme="light"] {
  --background-color: #ffffff;
  --text-color: #3f3d56;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  color: var(--text-color);
}
button {
  cursor: pointer;
  outline: none;
  background: var(--default-gradient);
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
  box-shadow: -1px 3px 14px rgba(187, 35, 253, 0.46);
}
button:hover {
  transform: scale(1.01) translateY(-1px);
  box-shadow: -1px 3px 21px rgba(187, 35, 253, 0.65);
}
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.gap-2 {
  gap: 2rem;
}
.welcome header {
  padding: 1.5rem 2rem;
}
.welcome main {
  padding: 1.5rem 2.5rem;
}
.welcome h1 {
  font-size: 1.3rem;
}
.welcome footer {
  padding: 0.5rem 2.5rem;
}
.welcome main p {
  text-align: center;
  font-size: 0.8rem;
}
.welcome .circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #00000026;
  cursor: pointer;
}
.welcome .circle.selected {
  background-color: #d035fe;
  box-shadow: -1px 3px 14px rgba(187, 35, 253, 0.46);
}
.welcome footer button {
  width: 100%;
  padding: 0.5rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
